.Info {
  .Info__background {
    position: relative;

    figure {
      height: 450px;
      border-radius: var(--borderRadius);
      overflow: hidden;
      border: 1px solid var(--sub-background);
    }

    .Info__backgroundOuter {
      position: absolute;
      top: 100%;
      left: 5%;
      transform: translateY(-50%);
      display: flex;
      gap: 24px;

      figure {
        width: 200px;
        height: 300px;
        border-radius: var(--borderRadius);
        overflow: hidden;
        flex-shrink: 0;
        position: relative;
        border: 1px solid var(--sub-background);

        .Info__quality {
          position: absolute;
          top: 4px;
          right: 4px;
        }
      }

      .Info__movie {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 1.8rem;

        h4 {
          text-transform: uppercase;
          color: #fff;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
          font-size: 4rem;
        }

        h5 {
          font-size: 3rem;
          text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        }

        .Info__actions {
          display: flex;
          gap: 12px;

          button,
          a {
            margin-top: 4px;
            i {
              margin-right: 12px;
            }
          }
        }

        ul {
          display: flex;
          flex-wrap: wrap;

          span {
            margin-right: 12px;
          }

          li {
            margin-right: 8px;
            cursor: pointer;
            a {
                color: #fff;
                transition: .3s;
                &:hover {
                    color: var(--primary-color);
                }
            }
          }
        }
      }
    }
  }

  .Info__content {
    margin-top: 250px;

    h4 {
      font-size: 3rem;
      color: var(--primary-color);
      margin-bottom: 12px;
    }

    p {
      font-size: 1.8rem;
    }
  }

  .Info__trailer {
    margin-top: 32px;

    h4 {
      font-size: 3rem;
      color: var(--primary-color);
      margin-bottom: 12px;
    }

    iframe {
      border-radius: var(--borderRadius);
      border: 1px solid var(--sub-background);
      width: 100%;
      height: 300px;
    }
  }
}
