.Detail {
  .Detail__pages {
    display: flex;
    overflow-x: auto;
    padding-bottom: 12px;
    gap: 12px;

    li {
      padding: 6px 16px;
      border-radius: var(--borderRadius);
      background-color: var(--primary-color);
      font-size: 1.8rem;
      color: #000;
      font-weight: 600;
      cursor: pointer;
      transition: .3s;

      &:active {
        outline: 3px solid var(--primary-color);
        outline-offset: 3px;
      }
    }
    li.active {
      background-color: #3a86ff;
      outline: 3px solid #3a86ff;
      outline-offset: 3px;
    }
  }
}
