.country {
    overflow-y: auto;
    height: 200px;
    overscroll-behavior-y: none;
    margin-left: 6px !important;

    li {
        font-size: 1.6rem !important;
        position: relative;

        ::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 3px;
            border-radius: var(--border-radius);
          }
    }
    .active {
        color: var(--primary-color);

        ::after {
            background-color: var(--primary-color);
        }
    }
}