@import "../../../../Scss/mixin";

.slide {
  position: relative;
  width: 100%;
  flex-shrink: 0;

  figure {
    height: 600px;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid var(--sub-background);

    @media (max-width: 1024px) {
      height: 360px;
    }

    @media (max-width: 768px) {
      height: 280px;
    }
  }

  &__info {
    width: 90%;
    position: absolute;
    left: 32px;
    bottom: 32px;
    margin-top: 12px;

    @media (max-width: 1024px) {
      left: 24px;
      bottom: 24px;
    }

    @media (max-width: 768px) {
      left: 16px;
      bottom: 16px;
    }

    h4 {
      font-size: 3rem;
      margin-bottom: 12px;
      text-transform: uppercase;
      color: var(--white-color);
      text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
      @include ellipsis-text();

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    div {
      @include flex-custom(center, null, null, null, 12px);
      
      a {
        transition: 0.3s;
        color: var(--white-color);

        i {
          margin-right: 8px;
        }
      }
    }
  }
}
