.category {
    overflow-y: auto;
    height: 200px;
    overscroll-behavior-y: none;
    margin-left: 6px !important;

    @media (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        font-size: 1.6rem !important;
        position: relative;

        @media (max-width: 768px) {
           width: 50%;
        }

        ::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 3px;
            border-radius: var(--border-radius);
          }
    }

    li.active {
        color: var(--primary-color);

        ::after {
            background-color: var(--primary-color);
        }
    }
}